.header{
    background-color: black;
    color: white;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
}

.nav-wrapper{
    height: 50px;
}
.brand-logo{
    float: center;
    /* margin-left: 100px; */
}

.sidenav-trigger{
    float: right;
}

.sidenav{
    background-color: #d9d9d3;
    opacity:0.9;
}