<!-- Dropdown Structure -->
<header class="header">
  <ul id="dropdown1" class="dropdown-content">
    <li *ngIf="!userLogged"><a href="/user/login">Login</a></li>
    <li class="divider"></li>
    <li *ngIf="!userLogged"><a routerLink="/user/register">SigUp</a></li>
    <li *ngIf="userLogged"><a routerLink="/user/logout">Logout</a></li>


  </ul>
  <nav class="black">
    <div class="nav-wrapper">
      <a href="hero" class="brand-logo">Vector</a>
      <a href="#" data-target="mobile-nav" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">

        <li *ngIf="!userLogged"><a href="sass.html">Sass</a></li>
        <li *ngIf="!userLogged"><a href="badges.html">Components</a></li>
        <!-- Dropdown Trigger -->
        <li *ngIf="!userLogged"><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i
              class="material-icons right">arrow_drop_down</i></a></li>
        <li *ngIf="userLogged"><a class="dropdown-trigger sesionName" href="#!" data-target="dropdown1">{{completeName}}<i
              class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-nav">
    <li *ngIf="!userLogged"><a href="/user/login">Login</a></li>
    <li class="divider"></li>
    <li *ngIf="!userLogged"><a routerLink="/user/register">SigUp</a></li>
    <li *ngIf="userLogged"><a routerLink="/user/logout">Logout</a></li>
  </ul>

</header>