.center{
    display: flex;
    height: 530px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url(../../../assets/images/404-page-image.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    justify-content: center;
    align-items: flex-end;
}
.center button{
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 50px;
    margin-top: 10px;
    width: 150px;
    position: fixed;
}