<footer class="page-footer blue">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Vector Magazine</h5>
                <p class="grey-text text-lighten-4">
                    Los que no puedan mantener el ritmo de la revolución tecnológica, se encontrarán con que ellos
                    mismos se han vuelto obsoletos.
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2019 - All right reserved
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>