<div class="containerTitle">
    <div class="row register">
        <h5>Create new article</h5>
    </div>
</div>
<div class="containerBody">
    <form class="col s12">
        <div class="row">
            <!-- <div class="input-field col s2">
                <input id="" name="" type="text" class="validate" required />
                <label for="">First Name</label>
            </div>
            <div class="input-field col s2">
                <input id="" name="" type="text" class="validate"  />
                <label for="">Second Name</label>
            </div>
            <div class="input-field col s2">
                <input id="" name="" type="text" class="validate" required />
                <label for="">First Surname</label>
            </div>
            <div class="input-field col s2">
                <input id="" name="" type="text" class="validate"  />
                <label for="">Second Lastname</label>
            </div>
            <div class="input-field col s2">
                <input id="" name="" type="text" class="validate" required />
                <label for="">Email</label>
            </div> -->
        </div>
        <div class="row">
            <div class="input-field col s2">
                <input [(ngModel)]="article.title" id="createTitle" name="createTitle" type="text" class="validate" required />
                <label for="createTitle">Title</label>
            </div>
            <div class="input-field col s2">
                <input [(ngModel)]="article.keywords" id="createKeywords" name="createKeywords" type="text" class="validate" required />
                <label for="createKeywords">Keywords</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input [(ngModel)]="article.abstract" id="createAbstract" name="createAbstract" type="text" class="validate" required />
                <label for="createAbstract">Abstract</label>
            </div>
        </div>
        <div class="row center"><a class="waves-effect waves-light btn "(click)="saveNewArticle()">SEND</a></div>
    </form>

</div>