<br>
<div class="containerTitle">
    <div class="row list">
        <h5>Articles</h5>
    </div>
</div>
<fieldset class="containerBody">
    <table>
        <thead>
            <th>
                Title
            </th>
            <th>
                Name
            </th>
            <th>
                Keywords
            </th>
            <!-- <th>
                Link
            </th> -->
            <th>
                Status
            </th>

        </thead>
        <tbody>
            <tr *ngFor="let c of articleList">
                <td>{{c.title}}</td>
                <td>{{c.authorFirstName}}</td>
                <td>{{c.keywords}}</td>
                <td>{{c.status}}</td>
                <!-- <td><a *ngIf=" c.status == 'send'; else results" class="waves-effect waves-light btn"
                        routerLink="/user/author/article/editor/{{c.id}}">Edit</a></td> -->
                <!-- <ng-template #results>
                    <td><a class="waves-effect waves-light btn">Results</a></td>
                </ng-template> -->
                <!-- <td>
                    <a *ngIf="flagValidationToDelete; else validationButtons" class="waves-effect waves-light btn"
                        (click)="ChangeFlagValidation(c._id)">Delete</a>
                    <ng-template #validationButtons>
                        <div *ngIf="idToDelete == c._id">
                            Confirm deletion? <a class="waves-effect waves-light btn red"
                                (click)="DeletePerson(c._id)">Confirm</a> &nbsp;&nbsp;
                            <a class="waves-effect waves-light btn orange" (click)="ChangeFlagValidation()">Cancel</a>
                        </div>
                    </ng-template>
                </td> -->
            </tr>
        </tbody>
    </table>
</fieldset>