<div class="had-container">
  <div class="row center loginCont"><br>
    <div class="col m8 s8 offset-m2 offset-s2 center">
      <h4 class="truncate bg-card-user">
        <img src="../../../../assets/images/Logo2.PNG.png" alt=""
          class="circle responsive-img">
        <div class="row login">
          <h4>Login.</h4>
          <form class="col s12">
            <div class="row">
              <div class="input-field col m12 s12">
                <i class="material-icons iconis prefix">account_box</i>
                <input [(ngModel)]="email" id="icon_prefix" name="email" type="text" class="validate">
                <label for="icon_prefix">Email</label>
              </div>
            </div>
            <div class="row center">
              <div class="input-field col m12 s12">
                <i class="material-icons iconis prefix">enhanced_encryption</i>
                <input [(ngModel)]="password" id="password" name="password" type="password" class="validate">
                <label for="password">Password</label>
              </div>
              <label class="col m12">
                <a><b>Forgot Password?</b></a>
              </label>
            </div>

            <div class="row">
              <div class="g-recaptcha" data-sitekey="6Lc6FbMUAAAAAEo2yc64LmHdNRqgpvh7A7K6YzI7"
                data-callback="recaptcha_callback"></div>

              <button id="btn" (click)="onLoginBtnClick()" class="btn waves-effect waves-light" name="action"
                >LOGIN</button>
            </div>
          </form>
          <div class=" row register">
            <label class="col m4">
              <a><b>Register Now!</b></a>
            </label>
          </div>
        </div>
      </h4>
    </div>
  </div>
</div>